<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    
        <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    
    <title>Mercado Liebre</title>
</head>
<body class="home__body">
    <header class="home__header">
        <img id="home__logo" src="/images/logo-mercado-liebre.svg"></img> 
    <section>
        
            <p id="home__buscador">Buscar productos, marcas</p>
            <i class="fa-solid fa-magnifying-glass"></i>
            
              <p class="home__compra">
            <i id="home__icon1" class="fa-solid fa-hand-holding-dollar">
                </i>Comprá en cuotas y sin tarjeta de crédito</p>
            
    </section>
    
    <section>
        <nav class="home__header__nav">
            
                <li><a class="home__ul1" href="/">Ofertas</a></li>
                <li><a class="home__ul1" href="/">Tiendas Oficiales</a></li>
                <li><a class="home__ul1" href="/">Vender</a></li>
                <li><a class="home__ul1" href="/">Ayuda</a></li>
            
          
                <li><a class="home__ul2" href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a class="home__ul2" href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="home__ul2" href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
           
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </section>
 </header>
 <main>
      <img id="home__banner" src="/images/img-home-banner.jpg"></img>
    <section>
        <h2>Basado en tu última visita</h2>
        <article class="home__articles">
            <img id="home__img1" src="/images/img-cafetera-moulinex.jpg">
            <p class="home__articles__p"><i class="fa-solid fa-truck"></i>
            <p class="home__articles__p1">$6.770 </p>
            <p class="home__articles__p2">40% off</p>
            <p class="home__articles__p3">Cafetera Moulinex </p> </img>
        
          </article>
          
          <article class="home__articles">
            <img id="home__img2" src="/images/img-macbook-pro-2019.jpg">
            <p class="home__articles__p"><i class="fa-solid fa-truck"></i>
                <p class="home__articles__p1">$230.000 </p>
                <p class="home__articles__p2">20% off</p>
                <p class="home__articles__p3">MacBook Pro 2019 </p> </img>
            
          </article>

          <article class="home__articles">
            <img id="home__img3" src="/images/img-samsung-galaxy-s10.jpg">
            <p class="home__articles__p"><i class="fa-solid fa-truck"></i>
                <p class="home__articles__p1">$70.500 </p>
                <p class="home__articles__p2">10% off</p>
                <p class="home__articles__p3">Samsung Galaxy S10 </p></img>
            
          </article>

          <article class="home__articles">
            <img id="home__img4" src="/images/img-tv-samsung-smart.jpg">
            <p class="home__articles__p"><i class="fa-solid fa-truck"></i>
                <p class="home__articles__p1">23.200 </p>
                <p class="home__articles__p2">5% off</p>
                <p class="home__articles__p3">SmartTv Samsung 43"</p></img>
          </article>
    </section>
</main>
<footer class="home__footer">
          <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3> Envío gratis desde $ 2.500
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fa-solid fa-user-shield"></i> 
            <h3>Seguridad, de principio a fin</h3>
           <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p id="home__cpr">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
</footer>

</body>
</html>