<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    
        <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    
    <title>Mercado Liebre</title>
</head>
<body class="home__body">
    <header class="home__header">
        <img id="home__logo" src="/images/logo-mercado-liebre.svg"></img> 
    <section>
        <i class="fa-solid fa-magnifying-glass"></i>
            <p id="home__buscador">Buscar productos, marcas</p><br>
            <i id="home__icon1" class="fa-solid fa-hand-holding-dollar"></i>
            <p class="home__compra">Comprá en cuotas y sin tarjeta de crédito</p>
    </section>
    
    <section>
        <nav>
            <ul class="home__ul1">
                <li><a class="home__ul1" href="/">Ofertas</a></li>
                <li><a class="home__ul1" href="/">Tiendas Oficiales</a></li>
                <li><a class="home__ul1" href="/">Vender</a></li>
                <li><a class="home__ul1" href="/">Ayuda</a></li>
            </ul>
            <ul class="home__ul2">
                <li><a class="home__ul2" href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a class="home__ul2" href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="home__ul2" href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </section>
</header>
          <img id="home__banner" src="/images/img-home-banner.jpg"></img>
    <section>
        <article>
            
            <h2>Basado en tu última visita</h2>
            <img id="home__img1" src="/images/img-cafetera-moulinex.jpg"></img>
            <p>$6.770 <br><br>
                40% off
            </p> 
            <h3>Cafetera Moulinex</h3>
          </article>
          
          <article>
            <img id="home__img2" src="/images/img-macbook-pro-2019.jpg"></img>
            <p>$230.000<br><br>
                20% off
            </p>
            <h3>MacBook Pro 2019</h3>
          </article>

          <article>
            <img id="home__img3" src="/images/img-samsung-galaxy-s10.jpg"></img>
            <p>$70.500 <br><br>
                10% off</p>
           <h3>Samsung Galaxy S10</h3>
          </article>

          <article>
            <img id="home__img4" src="/images/img-tv-samsung-smart.jpg"></img>
            <p>$23.200<br><br>
                5% off</p>
            <h3>SmartTv Samsung 43"</h3>
          </article>
    </section>
</main>
<footer class="home__footer">
          <i class="fa-solid fa-credit-card"></i>
    <ul><h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3> Envío gratis desde $ 2.500
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fa-solid fa-user-shield"></i> 
            <h3>Seguridad, de principio a fin</h3>
           <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p id="home__cpr">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </ul>
</footer>

</body>
</html>