<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    
        <script src="https://kit.fontawesome.com/ab4152bd85.js" 
    crossorigin="anonymous"></script>
    
    <title>Mercado Liebre</title>
</head>
<body class="home__body">
    <header class="home__header">
        
    <section id="section1">
        <img id="home__logo" src="/images/logo-mercado-liebre.svg"></img> 
           <div id="div"><input type="text" id="input" placeholder="Buscar productos,marcas...">
            <i class="fa-solid fa-magnifying-glass"></i></div>
            <br>
            <p class="home__compra">
            <i id="home__icon1" class="fa-solid fa-hand-holding-dollar">
                </i>Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
    
    
    <section class="home__header__section2">
        <nav class="home__header__nav1">
            <ul id="ul">
                <li class="home__header_nav12"><a href="/">Ofertas</a></li>
                <li class="home__header_nav12"><a href="/">Tiendas oficiales</a></li>
                <li class="home__header_nav12"><a href="/">Vender</a></li>
                <li class="home__header_nav12"><a href="/">Ayuda</a></li>
            </ul>
        </nav> 
        <nav class="home__header__nav2">
            <ul id="ul">
                <li class="home__header_nav12"><a href="/registro">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li class="home__header_nav12"><a href="/ingresar">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li class="home__header_nav12"><a href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </section>
    <div class="burger-menu"><i class="fas fa-bars"></i></div>
 </header>
 <main>
      <img id="home__banner" src="/images/img-home-banner.jpg"></img>
      <h2>Basado en tu última visita</h2>
      <section id="home__section_1">
        <article class="home__articles1">
            
            <img id="home__img1" src="/images/img-cafetera-moulinex.jpg"></img>
            <i class="fa-solid fa-truck"></i>
            <p class="home__articles__p1">$6.770 </p>
            <p class="home__articles__p2">40% off</p>
            <p class="home__articles__p3">Cafetera Moulinex </p> 
        
          </article>
          
          <article class="home__articles2">
                <img id="home__img2" src="/images/img-macbook-pro-2019.jpg">
                <i class="fa-solid fa-truck"></i></img>
                <p class="home__articles__p1">$230.000 </p>
                <p class="home__articles__p2">20% off</p>
                <p class="home__articles__p3">MacBook Pro 2019 </p> 
            
          </article>
         </section>
 <section id="home__section_2">
          <article class="home__articles3">
            <img id="home__img3" src="/images/img-samsung-galaxy-s10.jpg">
            <i class="fa-solid fa-truck"></i></img>
                <p class="home__articles__p1">$70.500 </p>
                <p class="home__articles__p2">10% off</p>
                <p class="home__articles__p3">Samsung Galaxy S10 </p>
            
          </article>

            <article class="home__articles4">
                <img id="home__img4" src="/images/img-tv-samsung-smart.jpg">
                <i class="fa-solid fa-truck"></i></img>
                    <p class="home__articles__p1">23.200 </p>
                    <p class="home__articles__p2">5% off</p>
                    <p class="home__articles__p3">SmartTv Samsung 43"</p>
          </article>
    </section>
    <h2>Sección de ofertas</h2>
      <section id="home__section_1">
        <article></article>
        <article class="home__articles1">
            
            <img id="home__img1" src="/images/img-cafetera-moulinex.jpg"></img>
            <i class="fa-solid fa-truck"></i>
            <p class="home__articles__p1">$6.770 </p>
            <p class="home__articles__p2">40% off</p>
            <p class="home__articles__p3">Cafetera Moulinex </p> 
        
          </article>
          
          <article class="home__articles2">
                <img id="home__img2" src="/images/img-macbook-pro-2019.jpg">
                <i class="fa-solid fa-truck"></i></img>
                <p class="home__articles__p1">$230.000 </p>
                <p class="home__articles__p2">20% off</p>
                <p class="home__articles__p3">MacBook Pro 2019 </p> 
            
          </article>
         </section>
 <section id="home__section_2">
          <article class="home__articles3">
            <img id="home__img3" src="/images/img-samsung-galaxy-s10.jpg">
            <i class="fa-solid fa-truck"></i></img>
                <p class="home__articles__p1">$70.500 </p>
                <p class="home__articles__p2">10% off</p>
                <p class="home__articles__p3">Samsung Galaxy S10 </p>
            
          </article>

            <article class="home__articles4">
                <img id="home__img4" src="/images/img-tv-samsung-smart.jpg">
                <i class="fa-solid fa-truck"></i></img>
                    <p class="home__articles__p1">23.200 </p>
                    <p class="home__articles__p2">5% off</p>
                    <p class="home__articles__p3">SmartTv Samsung 43"</p>
          </article>
    </section>
</main>
<footer class="home__footer">
          <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3> Envío gratis desde $ 2.500
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fa-solid fa-user-shield"></i> 
            <h3>Seguridad, de principio a fin</h3>
           <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p id="home__cpr">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
</footer>

</body>
</html>